<!doctype html>
<html lang="{{ grav.language.getLanguage ?: 'nl' }}">
    <head>
        {% include 'partials/metadata.html.twig' %}

        <title>{% block title %}{{ site.title }}{% endblock title %}</title>

        <link rel="shortcut icon" type="image/x-icon" href="{{ url('theme://assets/img/logo.ico') }}">
        <link rel="icon" type="image/png" href="{{ url('theme://assets/img/logo.png') }}">

        <link rel="stylesheet" media="screen" href="{{ url('theme://assets/css/screen.css') }}">
        <script defer src="{{ url('theme://assets/js/scripts.js') }}"></script>
    </head>
    <body id="{{ page.template }}">
        <noscript>
            JavaScript is uitgeschakeld: sommige functionaliteit van deze website zal niet correct werken.
        </noscript>
        <header>
            <h1>{{ site.title }}</h1>
            <nav>
                <ul>
                    <li><a href="{{ url('/') }}">{{ site.title }}</a></li>
                    {% if page.parent.slug != 'pages' %}
                    <li><a href="{{ page.parent.link }}">{{ page.parent.slug }}</a></li>
                    {% endif %}
                    {% for item in page.header.navigation %}
                    <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                    {% endfor %}
                    <li><a href="#schenken">Doe een gift</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
            {% include 'partials/donate.html.twig' %}
        </main>
        {% block scripts %}
        {% endblock scripts %}
        {% include 'partials/footer.html.twig' %}
    </body>
</html>
