<article class="post">
    <h3>
        {% if truncate %}
        <a href="{{ page.url }}">{{ page.title }}</a>
        {% else %}
        {{ page.title }}
        {% endif %}
    </h3>
    <time datetime="{{ page.date|date('c') }}">
        {{ page.date|date('j') }}
        {{ local_months[ page.date|date('n') - 1 ] }}
        {{ page.date|date('Y') }}
    </time>

    {% if truncate %}
    <p>
        {{ page.summary|striptags }}
    </p>
    <p>
        <a class="button little" href="{{ page.url }}">Verder lezen</a>
    </p>
    {% else %}
    {{ page.content }}
    {% endif %}
</article>
