{% extends 'partials/base.html.twig' %}

{% block title %}{{ page.title }} | {{ site.title }}{% endblock title %}

{% block content %}
{% include 'partials/hero.html.twig' %}
<section id="activiteiten">
    <div>
        <h2>{{ page.title }}</h2>
        <input id="filter" type="search" placeholder="Filteren" maxlength="100">
    </div>
    {% for post in page.collection().order('date', 'desc') %}
    {% if year != post.date | date('Y') %}
    {% set year = post.date | date('Y') %}
    {% if not loop.first %}</ul>{% endif %}
    <h3 data-year="{{ year }}">{{ year }}</h3>
    <ul data-year="{{ year }}" class="postlist">
    {% endif %}
    {% include 'partials/summary.html.twig' with { 'page': post } %}
    {% endfor %}
    </ul>
</section>
{% endblock %}
