{% embed 'partials/base.html.twig' %}

    {% block styles %}
        {{ parent() }}
        <link rel="stylesheet" media="screen" href="{{ url('theme://assets/css/swipebox.min.css') }}">
    {% endblock styles %}

    {% block title %}
        {{ header.title }} | {{ site.title }}
    {% endblock title %}

	{% block breadcrumbs %}
        <a class="breadcrumb" href="./">Activiteiten</a>
    {% endblock breadcrumbs %}

	{% block content %}
    <section id="content">
        <h2>Activiteit</h2>

        {% include 'partials/item.html.twig' with {'blog':page.parent, 'truncate':false} %}
    </section>

    <section id="navigation">
        navigatie artikel
    </section>
	{% endblock content %}

    {% block scripts %}
        {{ parent() }}
        {% do assets.addJs('theme://assets/js/swipebox.js') %}
        {% do assets.addJs('theme://assets/js/article.js') %}
    {% endblock scripts %}

{% endembed %}
