{% extends 'partials/base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" media="screen" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css">
{% endblock styles %}

{% block topnav %}
    <figure data-speed="{{ page.header.speed_slideshow|striptags }}">
        {{ page.content|striptags('<img>') }}
    </figure>
    <nav>
        <ul>
            <li>
                <a class="logo" href="#home">{{ site.title|striptags }}</a>
            </li>
            <li>
                <ul class="homenav">
                    <li><a href="#overMatumainiKatanga">Over Matumaini Katanga</a></li>
                    <li><a href="#overAalmoezeniers">Over de Aalmoezeniers</a></li>
                </ul>
            </li>
            <li>
                <a href="#schenken">Contacteren of schenken</a>
            </li>
        </ul>
    </nav>
{% endblock topnav %}

{% block content %}
    <section id="activiteiten">
        <h2>Activiteiten</h2>
        {% for article in page.find('/activiteiten').children.order('date', 'desc').slice(0, 3) %}
        <article>
            <h3><a href="{{ article.url }}">
                {{ article.title }}
            </a></h3>
            <time datetime="{{ article.date|date('c') }}">
                {{ article.date|date('j') }}
                {{ local_months[ article.date|date('n') - 1 ] }}
                {{ article.date|date('Y') }}
            </time>
        </article>
        {% endfor %}
        <a class="button" href="{{ base_url == '' ? '/' : base_url }}/activiteiten">Ontdek al onze activiteiten</a>
    </section>

    <section id="overMatumainiKatanga">
        <h2>Over Matumaini Katanga</h2>
        <p class="paragraph">
            {{ page.header.over_matumaini }}
        </p>

        <section id="team">
            <h3>Wie zijn wij?</h3>
            {% for p in page.header.team %}
            <figure>
                <img src="{{ url('theme://assets/img/team') }}/{{ p.name|replace({' ':''}) }}.jpg" alt="{{ p.name }}">
                <figcaption>
                    <em>{{ p.name }}</em> {{ p.function }}
                </figcaption>
            </figure>
            {% endfor %}
        </section>

        <a class="button little" href="#">Statuten en verslagen</a>
    </section>

    <section id="overAalmoezeniers">
        <h2>Over de Aalmoezeniers</h2>
        <p class="paragraph">
            {{ page.header.over_aalmoezeniers[0] }}
        </p>
        <iframe src="https://player.vimeo.com/video/100035763?color=faf5f0&byline=0&portrait=0" allowfullscreen frameborder="0"></iframe>
        <p class="paragraph">
            {{ page.header.over_aalmoezeniers[1] }}
        </p>

        <section id="verwezelijkingen"  data-speed="{{ page.header.speed_cities|striptags }}">
            <h3>Verwezelijkingen</h3>
            <ul>
                {% for c in page.header.cities %}<li>{{ c.name|striptags }}</li>{% endfor %}
            </ul>
            {% for c in page.header.cities %}
            <article class="marker {{ c.name|striptags }}" data-lat="{{ c.lat }}" data-lng="{{ c.lng }}">
                <h4>{{ c.name|striptags }}</h4>
                <p>
                    {{ c.text|striptags }}
                </p>
            </article>
            {% endfor %}
            <div id="map">&nbsp;</div>
        </section>
    </section>

    <section id="schenken">
        <h2>Een gift schenken</h2>
        <p class="paragraph">
            {{ page.header.donate.text[0]|striptags }}
        </p>

        <section id="giften">
            <h3>Schenken</h3>
            <article>
                <h4>Details voor de overschrijving</h4>
                <div>
                    <h5>Rekeningnummer</h5>
                    <p>{{ page.header.donate.account|striptags }}</p>
                </div>
                <div>
                    <h5>Naam</h5>
                    <p>{{ page.header.donate.name|striptags }}</p>
                </div>
                <div>
                    <h5>BIC/SWIFT</h5>
                    <p>{{ page.header.donate.bic|striptags }}</p>
                </div>
                <div>
                    <h5>Adres</h5>
                    <p>{{ page.header.donate.address }}</p>
                </div>
                <div>
                    <h5>Mededeling</h5>
                    <p>{{ page.header.donate.details|striptags }}</p>
                </div>
            </article>
            <article>
                <h4>Fiscale informatie</h4>
                <p>
                    {{ page.header.donate.text[1]|striptags }}
                </p>
                <p>
                    {{ page.header.donate.text[2]|striptags }}
                </p>
                <p>
                    <em>Asante sana</em> Bedankt.
                </p>
            </article>
        </section>
    </section>
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    {% do assets.addJs('https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js') %}
    {% do assets.addJs('theme://assets/js/home.js') %}
{% endblock scripts %}
