{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

    {% block title %}
        “{{ query }}” | {{ site.title }}
    {% endblock title %}

    {% block breadcrumbs %}
        <a class="breadcrumb" href="./">Activiteiten</a>
    {% endblock breadcrumbs %}

	{% block content %}
    <section id="content">
        <form id="searchform">
            <h2>{{ search_results.count }} zoekresulta{% if search_results.count == 1 %}at{% else %}ten{% endif %}</h2>
            <input type="search" placeholder="Zoeken..." value="{{ query }}">
        </form>

        {% for child in search_results %}
            {% include 'partials/item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
        {% endfor %}
    </section>

    <section id="navigation">
        navigatie
    </section>
	{% endblock content %}

    {% block scripts %}
        {{ parent() }}
        {% do assets.addJs('theme://assets/js/archive.js') %}
    {% endblock scripts %}

{% endembed %}
